
<div class="max-w-[512px] mx-auto mt-8">
    <%= form_with model: @user do |form| %>
        <div class="flex flex-col gap-4">
            <div class="flex flex-col gap-2">
                <%= form.label :username %>
                <%= form.text_field :username, class: "border rounded-sm px-1" %>
            </div>

            <div class="flex flex-col gap-2">
                <%= form.label :name %>
                <%= form.text_field :name, class: "border rounded-sm px-1" %>
            </div>

            <div class="flex flex-col gap-2">
                <%= form.label :email %>
                <%= form.text_field :email, class: "border rounded-sm px-1" %>
            </div>

            <div class="flex flex-col gap-2">
                <%= form.label :password, "Change Password" %>
                <%= form.password_field :password, class: "border rounded-sm px-1" %>
            </div>

            <div class="bg-blue-500 text-center text-white py-1 rounded-md font-bold">
                <%= form.submit %>
            </div>
        </div>
    <% end %>
</div>
